<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>db info</title>
</head>
<body>
<div>
    <form method="post">
        <input name="name" placeholder="Input message" type="text"/>
        <button type="submit">Add</button>
    </form>
</div>

<div>
    {{#h2db}}
        <ol>{{id}}, {{name}}</ol>
    {{/h2db}}
</div>

</body>
</html>