<!DOCTYPE html>
<html lang="ru" xml:lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>db info</title>
    <link rel="stylesheet" type="text/css" href="css/upload.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>

<div id="selection">
    <ul id="selection-items" style="">
        <li>
            <a href="/report">Reports</a>
        </li>
        <li>
            <a href="/company">Company Report</a>
        </li>
        <li>
            <a href="/employee">Employee report</a>
        </li>
    </ul>
</div>

<div id="padding-bottom"></div>

<div class="row">
    <div class="column" style="background-color:#bbb;">
        <h1>Upload employee reports <span>token_YYYY_M.xlsx</span></h1>
        <p>
        <form method="POST" enctype="multipart/form-data" accept-charset="UTF-8" name="employee">
            <label for="folder">Select folder</label>
            <input type="file" name="employeeReportFolder" id="employeeReportFolder" webkitdirectory dirname multiple/>
            <input type="submit" value="UPLOAD"/>
        </form>
        </p>
        <p>
        <h4>uploaded files</h4>
        <table id="table">
            <thead>
            <tr>
                <th>имя файла</th>
                <th>описание</th>
                <th>статус</th>
            </tr>
            </thead>

            <tbody>
            {{#employeeReportFolder}}
                <tr>
                    <td>{{folderName}}</td>
                    <td> {{description}}</td>
                    <td>{{status}}</td>
                </tr>
            {{/employeeReportFolder}}
            </tbody>
        </table>
        </p>
    </div>
</div>

</body>
</html>