<!DOCTYPE html>
<html lang="ru" xml:lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>db info</title>
    <link rel="stylesheet" type="text/css" href="css/upload.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
</head>
<body>

<div id="selection">
    <ul id="selection-items" style="">
        <li>
            <a href="/report">Reports</a>
        </li>
        <li>
            <a href="/company">Company Report</a>
        </li>
        <li>
            <a href="/employee">Employee report</a>
        </li>
    </ul>
</div>

<div id="padding-bottom"></div>


<div class="column" style="background-color:#bbb;">
    <h1>Report <span>simple summary report</span></h1>
</div>
<p></p>
<div>
    <form method="post" accept-charset="UTF-8">
        <select name="selectPeriod">
            {{#reportPeriod}}
                <option value={{.}}>{{.}}</option>
            {{/reportPeriod}}
        </select>
        <input type="submit" name="reportType" value="MAIN" >
        <input type="submit" name="reportType" value="DUPLICATES">
    </form>
</div>
<div>
    <p>
    <table id="table">
        <thead>
        <tr>
            <th>Client</th>
            <th>Name</th>
            <th>Netto</th>
            <th>Token</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        {{#reports}}
            <tr>
                <td>{{client}}</td>
                <td>{{name}}</td>
                <td><b>{{netto}}</b></td>
                <td>{{token}} </td>
                <td> {{city}} </td>
            </tr>
        {{/reports}}
        </tbody>
    </table>
    </p>
</div>
<div>
    <p>
    <table id="table">
        <thead>
        <tr>
            <th>token</th>
            <th>client</th>
            <th>contact date</th>
            <th>report period</th>
            <th>netto</th>
        </tr>
        </thead>
        <tbody>
        {{#duplicates}}
            <tr>
                <td>{{token}}</td>
                <td>{{client}}</td>
                <td><b>{{contactDate}}</b></td>
                <td>{{reportingPeriodId}} </td>
                <td>{{netto}} </td>
            </tr>
        {{/duplicates}}
        </tbody>
    </table>
    </p>
</div>
</div>

</body>
</html>