<!DOCTYPE html>
<html lang="ru" xml:lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>db info</title>
</head>
<body>

<div>
    <h1>Folder upload</h1>
    <form method="POST" enctype="multipart/form-data" accept-charset="UTF-8">
        <label for="folder">Select folder</label>
        <input type="file" name="folderName" id="folder" webkitdirectory dirname multiple/>
        <td><input type="submit" value="Upload"/></td>
    </form>
    <h2>Selected Files</h2>
    {{#folders}}
        <ol type="1">
            {{folderName}}
        </ol>
    {{/folders}}
</div>
<div>
    <h4>Copies</h4>
    {{#hash}}
        <ol>{{clientId}}</ol>
    {{/hash}}
</div>

<div>
    {{#some}}
        <h4>{{.}}</h4>
    {{/some}}
</div>

</body>
</html>